<div [formGroup]="inputFormGroup" class="edit-formGroup" [ngClass]="{'hidden': isHidden, 'readonly':readonly}">
  <!-- lable -->
  <edit-public-lable [readonly]="readonly" [placeholder]="placeholder" [valids]="valids"  [inputFormControlName]="inputFormControlName"></edit-public-lable>
  <!-- item -->
  <div (tap)="toSelectPage();" class="ion-item">
    <ion-note color="dark" [ngClass]="readonly || disable ? 'readonly' : ''" class="edit-value" item-end>
      {{ formControl.value }}</ion-note>
    <ion-icon name="search" color="secondary" item-end></ion-icon>
  </div>
  <!-- state -->
  <edit-public-state></edit-public-state>
</div>
