<div class="detail-more-data">

  <detail-more-data-items [moreData]="moreData" [moduleName]="moduleName" [moduleId]="moduleId" [isEdit]="isEdit"></detail-more-data-items>

</div>


<!-- <div *ngIf="!isShowMore && moreData.length > 0" (click)="isShowMore = !isShowMore;" class="showMore" tappable>
  <ion-icon class="icon" name="arrow-round-down"></ion-icon>展开信息
</div>

<div *ngIf="isShowMore && moreData.length > 0" (click)="isShowMore = !isShowMore;" class="showMore" tappable>
  <ion-icon class="icon" name="arrow-round-up"></ion-icon>收起信息
</div> -->
