edit-multifile {
  .item-list {
    padding: 0px 10px;
  }

  .look {
    color: #3178ff;
    margin: 10px 20px;
  }

  .delete {
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-right: 10px;
    color: red;
  }
  .grey{
    color: grey;
  }
}
