edit-autocomplete-select {
}

.edit-autocomplete-select {
 
  .searchbar-input-container {
    background-color: #fff;
    border-radius:4px;
  }

}

.autocomplete-content {
  width: 100vw;
  min-height: calc(100vh - 52px);
  background-color: #fff;
}
