display-toggle {
  font-size: $desc-size;
  color: $desc-color;

  .display-toggle {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .display-toggle-icon {
          margin: 0 10px 0 0;
      }
  }
}
