app-swiper {

  .swiper-pagination-bullet{
    background-color: #999;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #fff;
  }

  .close-btn{
    color: #fff;
    font-size: 30px;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 2;
  }

  .content {
    background-color: #333 !important;

    .close {
      top: 10px !important;
      width: 45px;
      height: 45px;
      line-height: 45px;
    }
  }

}
