<default-group [groupName]="itemsData.groupName" class="group">

  <div *ngFor="let item of itemsData.itemData" class="selector">

    <ion-list no-margin>

      <div [ngSwitch]="item.selector">
        <!-- 默认 -->
        <detail-text *ngSwitchCase="'detail-text'" [name]="item.name" [value]="item.value" [fkModuleName]="item.fkModuleName || ''" [fkModuleId]="item.fkModuleId || ''"></detail-text>
        <!-- 标题 -->
        <detail-text *ngSwitchCase="'detail-text'" [name]="item.name" [value]="item.value" [fkModuleName]="item.fkModuleName || ''" [fkModuleId]="item.fkModuleId || ''"></detail-text>
        <!-- 日期 --> 
        <detail-text *ngSwitchCase="'detail-text'" [name]="item.name" [value]="item.value" [fkModuleName]="item.fkModuleName || ''" [fkModuleId]="item.fkModuleId || ''"></detail-text>
        <!-- 日期时间 --> 
        <detail-text *ngSwitchCase="'detail-text'" [name]="item.name" [value]="item.value" [fkModuleName]="item.fkModuleName || ''" [fkModuleId]="item.fkModuleId || ''"></detail-text>
        <!-- 手机 --> 
        <detail-text *ngSwitchCase="'detail-text'" [name]="item.name" [value]="item.value" [fkModuleName]="item.fkModuleName || ''" [fkModuleId]="item.fkModuleId || ''"></detail-text>
        <!-- 标签 --> 
        <detail-text *ngSwitchCase="'detail-text'" [name]="item.name" [value]="item.value" [fkModuleName]="item.fkModuleName || ''" [fkModuleId]="item.fkModuleId || ''"></detail-text>
        <!-- 描述 --> 
        <detail-text *ngSwitchCase="'detail-text'" [name]="item.name" [value]="item.value" [fkModuleName]="item.fkModuleName || ''" [fkModuleId]="item.fkModuleId || ''"></detail-text>
        <!-- 图片 -->
        <detail-image *ngSwitchCase="'detail-image'" [name]="item.name" [value]="item.value"></detail-image>
        <!-- toggle -->
        <detail-toggle *ngSwitchCase="'detail-toggle'" [name]="item.name" [value]="item.value"></detail-toggle>
        <!-- 未定义 -->
        <detail-text *ngSwitchDefault [name]="item.name" [value]="item.value" [fkModuleName]="item.fkModuleName || ''" [fkModuleId]="item.fkModuleId || ''"></detail-text>
      </div>

    </ion-list>

  </div>

</default-group>
