.ion-ios-tab1-outline:before {
  content: url("../assets/mysvg/tab1.svg");
}

.ion-ios-tab1:before {
  content: url("../assets/mysvg/tab1_h.svg");
}


.ion-ios-tab2-outline:before {
  content: url("../assets/mysvg/tab2.svg");
}

.ion-ios-tab2:before {
  content: url("../assets/mysvg/tab2_h.svg");
}



.ion-ios-tab3-outline:before {
  content: url("../assets/mysvg/tab3.svg");
}

.ion-ios-tab3:before {
  content: url("../assets/mysvg/tab3_h.svg");
}



.ion-ios-tab4-outline:before {
  content: url("../assets/mysvg/tab4.svg");
}

.ion-ios-tab4:before {
  content: url("../assets/mysvg/tab4_h.svg");
}
