/*全局修改 - 头部样式*/







/*底部样式*/


/*底部icon高亮*/

.tab-button[aria-selected=true] .tab-button-icon,
.tab-button[aria-selected=true] {
  color: color($colors, default) !important;
}


/* 离线样式 */

/*头部背景色*/
.offline .toolbar-background {
  background-color: #6b6b6b !important;
  transition: background-color 250ms linear !important;
}

/*筛选可滚动*/
.alert-ios .alert-input-group {
  overflow-y: scroll;
  max-height: 240px;
}

.height{
  height: calc(100% - 14px) !important;
}