detail-child {
  .btns {
    font-size: 12px;

    .icon-add {
      font-size: 20px;
      margin: 0 5px 0 0;
    }
  }

  .bottom-info {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    // border-bottom: $border;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0 0 40px 0;

    .bottom-icon {
      font-size: 24px;
      margin: 0 5px 0 0;
      font-weight: bold;
    }

    .num {
      color: color($colors, primary, base);
      margin: 0 2px;
      font-weight: bold;
    }
  }
}
