<div [formGroup]="inputFormGroup" class="edit-formGroup" [ngClass]="{'hidden': isHidden, 'readonly':readonly}">
  <!-- lable -->
  <edit-public-lable [readonly]="readonly" [placeholder]="placeholder" [valids]="valids"  [inputFormControlName]="inputFormControlName"></edit-public-lable>
  <!-- item -->
  <ion-item class="edit-item" [ngClass]="{'readonly':readonly}">
    <ion-note class="note-desc" color="dark" item-end>
      <button (click)="doSelect(item);" *ngFor="let item of valueArray" [disabled]="readonly || disable"
        [color]="item.value === formControl.value ? 'default' : 'light'" ion-button small
        class="btn">{{ item.name }}</button>
    </ion-note>
  </ion-item>
  <!-- state -->
  <edit-public-state [fieldData]="fieldData"></edit-public-state>
</div>
