page-user-password {
  .lable {
    color: $fc-1 !important;
    font-size: $fs-default !important;
  }
  .value {
    color: $fc-3 !important;
    font-size: $fs-default !important;
  }


  .tops {
    color: $fc-1;
    font-size: $fs-default;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 15px;
  }
}
