<ion-header>

  <ion-navbar>
    <ion-title>修改密码</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="user-info-list" [formGroup]="editPasswordForm">

    <div class="user-info-item">
      <div class="lable">当前密码</div>
      <div class="colon">:</div>
      <div class="value">
        <ion-input formControlName="currPassword" placeholder="请输入当前密码" type="password"></ion-input>
      </div>
      <ion-icon class="icon" *ngIf="editPasswordForm.get('currPassword').touched && editPasswordForm.get('currPassword').invalid"
        name="close-circle" color="danger"></ion-icon>
      <ion-icon class="icon" *ngIf="editPasswordForm.get('currPassword').touched && editPasswordForm.get('currPassword').valid"
        name="checkmark-circle" color="secondary"></ion-icon>
    </div>

    <div class="user-info-item" formGroupName="passwordInfo">
      <div class="lable">新的密码</div>
      <div class="colon">:</div>
      <div class="value">
        <ion-input formControlName="password" type="password" placeholder="新密码和当前密码不能相同"></ion-input>
      </div>
      <ion-icon class="icon"
        *ngIf="editPasswordForm.get('passwordInfo.password').touched && editPasswordForm.get('passwordInfo.password').invalid"
        name="close-circle" color="danger"></ion-icon>
      <ion-icon class="icon"
        *ngIf="editPasswordForm.get('passwordInfo.password').touched && editPasswordForm.get('passwordInfo.password').valid"
        name="checkmark-circle" color="secondary"></ion-icon>
    </div>

    <div class="user-info-item" formGroupName="passwordInfo">
      <div class="lable">确认密码</div>
      <div class="colon">:</div>
      <div class="value">
        <ion-input formControlName="passwordConfirm" type="password" placeholder="确认密码和新密码保持一致"></ion-input>
      </div>
      <ion-icon class="icon"
        *ngIf="editPasswordForm.get('passwordInfo.passwordConfirm').touched && editPasswordForm.get('passwordInfo').invalid"
        name="close-circle" color="danger"></ion-icon>
      <ion-icon class="icon"
        *ngIf="editPasswordForm.get('passwordInfo.passwordConfirm').touched && editPasswordForm.get('passwordInfo').valid"
        name="checkmark-circle" color="secondary"></ion-icon>
    </div>

  </div>

  <div padding>
    <button (tap)="editPassword();" [disabled]="editPasswordForm.invalid" ion-button block color="default">修改密码</button>
  </div>

  <div class="tops">{{ tips }}</div>

</ion-content>
